.bg{
  background-color: #171717;
}
.add-button{
  width: 73px;
  border-radius: 7px;
  border: 2px solid blue;
  margin: 3px 23px;
  display: inline-block;
  position: absolute;
}
.input-box{
  margin: 28px 383px;
  display: inline-block;
}
.text-box{
  width: 300px;
  height: 33px;
  border-radius: 14px;
  border: 1px solid gray;
  background-color: #000000d9;
  padding: 0px 14px;
}
.modal-box{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0px;
}
.arrow{
  color: white;
  font-size: 29px;
  position: absolute;
  right: 26px;
  top: 15px;
  cursor: pointer;
}
.list-box{
  width: 446px;
  height: 308px;
  margin: 168px auto;
}
.name{
  width: 300px;
  margin: 0px 65px;
  height: 40px;
  border-radius: 8px;
  border: navajowhite;
  padding: 1px 13px;
}
.email{
  width: 300px;
  margin: 14px 63px;
  border-radius: 7px;
  height: 40px;
  padding: 0px 10px
}
.rollNo{
  height: 40px;
  width: 122px;
  margin: 0px 64px;
  border-radius: 7px;
  padding: 0px 6px;
}
.button-add{
  width: 126px;
  height: 40px;
  border-radius: 9px;
  margin: 0px -11px;

}
td{
  vertical-align: middle;
}
.roll-input{
  height: 34px;
  width: 43px;
  text-align: center;
}
.email-input{
  width: 264px;
  padding: 0px 8px;
  height: 35px;
}
.name-input{
  height: 35px;
  width: 159px;
  padding: 0px 8p
}